{% extends 'app/dummy.html' %}

{% block title %}
    <title>Adding Schools</title>
{% endblock %}

{% block body_block %}

    {% if form.instance.pk %}

    <h1 >Fill The UpdateForm</h1>    
    
    {% else %}
    
    <h1 >Fill The CreateForm</h1>
    
    {% endif %}

    <form method="POST">
        {% csrf_token %}

        {{form.as_p}}

        {% if form.instance.pk %}

        <input type="submit" value="Update" class="btn btn-primary">

        {% else %}

        <input type="submit" value="create" class="btn btn-primary">

        {% endif %}
    </form>
{% endblock %}